<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><%= Rails.application.class.parent_name %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <%= render partial: 'rails_base/shared/appearance_mode_selector', locals: { btn: 'btn' } %>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="mr-auto">
    </div>
    <a class="btn btn-primary my-2 my-sm-0" href="<%=Rails.application.routes.url_helpers.new_user_registration_path%>" role="button">Sign Up</a>
  </div>
</nav>
