
<% if @mfa_flow %>
  <h3 class='text-center'>If you did not receive a text with instructions, please go through the flow again</h2>
  <%= render partial: 'rails_base/shared/mfa_input_layout', locals: { url: RailsBase.url_routes.forgot_password_with_mfa_auth_path(data: @data), size: 30, masked_phone: @user.masked_phone }%>
<% else %>
  <h2 class='text-center'>Reset your password <%= @user.full_name%></h2>
  <%= render partial: 'rails_base/shared/reset_password_form', locals: { sign_in_flow: true, url: RailsBase.url_routes.reset_password_auth_path(data: @data) }%>
<% end %>

