
<h2 class='text-center'>Reset your password <%= @user.full_name%></h2>

<%= render partial: 'rails_base/shared/reset_password_form', locals: { sign_in_flow: true, url: RailsBase.url_routes.reset_password_auth_path(data: @data) }%>
