<div class="row" >
  <div class="col-md-6 offset-md-3"style="position: absolute; top:25%">
  	<%= button_to 'Resend Verification Email', RailsBase.url_routes.resend_email_verification_path, method: :post, class: 'align-middle btn btn_warning btn-lg btn-block', style: 'font-size: 30px' %>
  </div>
</div>
