<form onclick="_sidekiq_web_block_screen('Draining queue. Please Wait...')" action="<%=root_path %>queues/drain/<%= CGI.escape(queue.name) %>" method="post" style="display: inline">
  <%= csrf_tag %>
  <input class="btn btn-warn btn-xs" type="submit" name="drain_queue" value="Drain <%= Sidekiq::WebCustom.config.drain_rate %>" />
</form>
